.hero-banner-food{
  background-image: image-url('front/food-and-drink.jpg');
}

.hero-banner-shopping{
  background-image: image-url('front/shopping.jpg');
}

.hero-banner-services{
  background-image: image-url('front/services.jpg');
}

.hero-banner-events{
  background-image: image-url('front/events.jpg');
}

.hero-banner-deals{
  background-image: image-url('front/placeholder-1.jpg');
}
