<div class="content">
  <h4 class="section-subtitle"><b>New</b> Slider</h4>
  <!-- content HEADER -->
  <!-- ========================================================= -->
  <div class="content-header">
   <!-- leftside content header -->
    <div class="leftside-content-header">
     <ul class="breadcrumbs">
       <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">Slider</a> <a href="#">New</a></li>
     </ul>
    </div>
  </div>
  <%= render 'form' %>

  <%= link_to 'Back', sliders_path %>
</div>