<!-- replaced by the subscribe image -->

<!--

<div class="panel equalHeights">
  <div class=" palette palette-success" >Latest Vouchers</div>
  <div class="list-group latest_vouchers">
    <%#- Deal.latest(3).each do |d| -%>
      <%#= link_to public_voucher_path(d), class: 'list-group-item' do -%>
        <span class="glyphicon glyphicon-pound"></span>
        <div class="col-md-10">
          <span class="title"><%#= d.title -%></span>
          <span class="desc">at <%#= d.business_name -%></span>
        </div>
      <%#- end -%>
    <%#- end -%>
  </div>
</div>

<%#= link_to 'More vouchers', public_vouchers_path, class: 'btn btn-s btn-success pull-right' -%>

<div class="clearfix"></div>

-->
