<!--
<h4 class="red margin_bottom_20">Follow us and find out what's going on in Merthyr Tydfil Town Centre</h4>
<a class="btn btn-s btn-red " href=""> <span class="glyphicon icon-pinterest"></span>Pin It<span class="badge no_bg">100</span></a>
<div class="clearfix"></div>
<a class="btn btn-s btn-blue " href=""><span class="glyphicon icon-linkedin"></span>Share<span class="badge no_bg">91</span></a>
<div class="clearfix"></div>
<a class="btn btn-s btn-danger " href=""><span class="glyphicon icon-stumble"></span>Stumble<span class="badge no_bg">45</span></a>
<div class="clearfix"></div>
<a class="btn btn-s btn-black " href=""><span class="glyphicon icon-google-plus"></span>Connect with Google</a>
<div class="clearfix"></div>
<a class="btn btn-s btn-dark_blue " href=""><span class="glyphicon icon-facebook-sign"></span>Connect with Facebook</a>
<div class="clearfix"></div>
<a class="btn btn-s btn-twitter " href=""><span class="glyphicon icon-twitter"></span>Connect with Twitter</a>
<div class="clearfix"></div>
-->

<div class="fb-like-box" data-href="http://www.facebook.com/welovemerthyr" data-width="360" data-height="The pixel height of the plugin" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
