<div class="post-excerpt-horizontal">
  <div class="post-image">
    <div class="overlay secondary">
      <div class="link-icon"><i class="fa fa-link"></i></div>
    </div>
    <%= image_tag deal_item.image_url(:f_thumb) -%>
  </div>
  <div class="post-content">
    <h3 class="title"><%= link_to deal_item.title, public_voucher_path(deal_item) %></h3>
    <a href="<%= public_voucher_path(deal_item) %>" class="button secondary"><i class="fa fa-tag"></i><span>Get Deal</span></a>
  </div>
</div>
