<div class="content">
	<h4 class="section-subtitle"><b>New</b> subscriber</h4>
	<div class="content-header">
    	<!-- leftside content header -->
	    <div class="leftside-content-header">
	      <ul class="breadcrumbs">
	        <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">subscriber</a></li>
	        <li>New</li>
	      </ul>
	    </div>
    </div>

	<%= render 'form' %>

	<%= link_to 'Back', subscribers_path %>
</div>
