    <%= render 'layouts/front/footer' %>

    <%= javascript_include_tag "front" %>
    <%= yield :script %>
     <!-- ADD TO CALENDER SCRIPT -->
    <script type="text/javascript">(function () {
        if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
        if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
            var h = d[g]('body')[0];h.appendChild(s); }})();

       $(".alert-dismissable").fadeOut(9000);
        
    </script>
    <!--Start Cookie Script--> <script type="text/javascript" charset="UTF-8" src="http://chs03.cookie-script.com/s/0d275c72182fb251878aa71fc54d32ac.js"></script> <!--End Cookie Script-->
  </body>
</html>
