<nav id="offnav">
	<ul class="block-menu">
		<li><a href="/"><i class="fa fa-home"></i><span>Home</span></a></li>
		<li><a href="<%= public_visiting_path %>" class="secondary"><i class="fa fa-camera-retro"></i><span>Visiting</span></a></li>
		<li><a href="<%= blog_path %>" class="tertiary"><i class="fa fa-newspaper-o"></i><span>News</span></a></li>
		<li><a href="<%= public_page_show_path('The Big Heart of Merthyr Tydfil'.parameterize) -%>" class="quadary"><i class="fa fa-building"></i><span>About Us</span></a></li>
		<li><a href="http://www.welovemerthyr.co.uk/public/pages/town-centre-trails" class="dark-gray-bg"><i class="fa fa-map"></i><span>Town Centre Trails</span></a></li>
	</ul>
</nav>
<div class="social-links">
	<a href="http://www.facebook.com/welovemerthyr" target="_blank"><i class="fa fa-facebook"></i></a>
	<a href="http://www.twitter.com/welovemerthyr" target="_blank"><i class="fa fa-twitter"></i></a>
	<a href="http://www.instagram.com/welovemerthyr" target="_blank"><i class="fa fa-instagram"></i></a>
</div>
